<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="FILE-MODULE" class="ch.qos.logback.core.FileAppender">
        <file>logs/module/module.log</file>
        <encoder>
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} - %msg%n
            </Pattern>
        </encoder>
    </appender>

    <logger name="com.dkb.bloom.filter" level="debug" additivity="false">
        <appender-ref ref="FILE-MODULE" />
    </logger>
</configuration>